/* navigation styling */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica;
  font-weight: bold;
  padding: 0 0.5em;
  background-color: #f3f3f3;
  border-radius: 10
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color:#000;
  font-weight: bold;
  font-size:13px;
  padding: 0 15px;
}

/* Content Styling */
section.flex {
  display: flex;
}
section.flex ul.picture-holder {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0;
}

section.flex ul.picture-holder li.picture {
  border-radius: 3px;
  display: flex;
  border: solid #cacaca;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 1px;
  margin: 10px;
  width: 446px;
  height: 446px;
  max-width: 446px;
  max-height: 446px;
}

section.flex img {
  margin: 10px;
  width: 424px;
  height: 424px;
  max-width: 424px;
  max-height: 424px;
}
