/* navigation styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: #f3f3f3;
  width: 100%;
  margin: -.5em;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 16px;
  padding: 0 15px;
}

/* Content Styling */
/*section.flex {
  display: flex;
  justify-content: center;
}

section.flex ul.picture-holder {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

section.flex ul.picture-holder li.picture {
  border-radius: 3px;
  display: flex;
  border: solid #cacaca;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 1px;
  margin: 10px;
  width: 446px;
  height: 446px;
  max-width: 446px;
  max-height: 446px;
}

section.flex img {
  margin: 10px;
  width: 424px;
  height: 424px;
  max-width: 424px;
  max-height: 424px;
}

/* Picture footer */
div.pic {
  width: 475px;
  height: 520px;
  max-width: 475px;
  max-height: 520px;
}

figure.pic-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.1em;
  width: 430px;
  height: 30px;
  max-width: 430px;
  max-height: 30px;
  border-bottom: 1px solid #cacaca;
  color: #cacaca;
  font-family: 'Raleway', sans-serif;
}

figure.pic-footer div.by-whom {
  display: flex;
  justify-content: space-between;
}

figure.pic-footer p.author {
  color: #000;
  font-family: 'Raleway', sans-serif;
}

figure.pic-footer img {
  width: 28px;
  height: 28px;
}
